<footer>
    <div class="f-info">
        <br>
        <nav class="f-info-socials">
            <a href="https://facebook.com" aria-label="Facebook" title="Visit our Facebook page">
                <img src="https://img.icons8.com/?size=100&id=118497&format=png&color=000000" alt="Icon Description" style="width: 25px; height: 25px;">
            </a>
            <a href="https://instagram.com" aria-label="Instagram" title="Visit our Instagram profile">
                <img src="https://img.icons8.com/?size=100&id=Xy10Jcu1L2Su&format=png&color=000000" alt="Icon Description" style="width: 25px; height: 25px;">
            </a>
            <a href="https://linkedin.com" aria-label="LinkedIn" title="Connect on LinkedIn">
                <img src="https://img.icons8.com/?size=100&id=13930&format=png&color=000000" alt="Icon Description" style="width: 25px; height: 25px;">
            </a>
            

              
        </nav>
        <section class="f-info-brand">
            &copy; RoomRover Private Limited
        </section>
        <nav class="f-info-links">
            <a href="/privacy" title="Privacy Policy">Privacy</a>
            <a href="/terms" title="Terms of Service">Terms</a>
        </nav>
    </div>
</footer>
