<style>
  .search-btn {
    background-color: #fe424d;
    color: #fff;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }
  .search-btn:hover {
    background-color: #fe424d;
    color: #fff;
  }

  .search-btn span {
    display: inline;
    margin-right: 0.5rem;
  }

  .search-inp {
    border-radius: 25px;
    padding: 0.5re, 4rem 0.5rem 3 rem;
    font-size: 1rem;
  }
</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings" style="color: #fe424d; display: flex; align-items: center;">
      <span class="material-symbols-outlined">explore</span>
    </a>
    <button class="navbar-toggler" type="button" >
      <span class="material-symbols-outlined" style="font-size: 30px" >explore</span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings" >Explore</a>
      </div>

      <div class="navbar-nav ms-auto">
        <form class="d-flex" role="search">
          <input class="form-control mr-sm-2 search-inp" type="search" placeholder="Search Destination">
          <button class="btn search-btn" type="submit"><span class="material-symbols-outlined">search</span>Search</button>
        </form>
      </div>
      
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new" >Airbnb your home</a>
        <% if (!currUser) { %>
          <a class="nav-link" href="/signup" ><b>Sign Up</b></a>
          <a class="nav-link" href="/login" ><b>Log In</b></a>
        <% } %>
        <% if (currUser) { %>
          <a class="nav-link" href="/logout" ><b>Log Out</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
